<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @payment_instrument.type %>
</p>

<p>
  <strong>Client:</strong>
  <%= @payment_instrument.client_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @payment_instrument.customer_id %>
</p>

<p>
  <strong>Billing contact:</strong>
  <%= @payment_instrument.billing_contact %>
</p>

<%= link_to 'Edit', edit_payment_instrument_path(@payment_instrument) %> |
<%= link_to 'Back', payment_instruments_path %>
